.container.profile {
    position: relative;
    text-align: center;
    width: 100%;
    height: calc(100vh - 112px);
}

.profile-container {
    padding: 20px;
}

.buttons-container {
    bottom: 0;
    position: absolute;
    width: 100%;
}